body{
  background-color: rgb(251, 255, 254);
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
 
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.componentBox { width:65em;border: 5px solid #ffffff; margin: 1em; padding: 1em; text-align: center; background: #efefef; }

.NavBar { background: #d2f2e4; color: #dbdbdb; }
.NavBar ul { display: flex; list-style: none; justify-content: center; }
.NavBar ul li a { padding: 1em; color: #06220f; text-transform: uppercase; display: inline-block; text-decoration: none;font-weight: bold; font-size: 23px;}
.NavBar ul li a.active { font-weight: bold; }

.About{color: rgb(52, 92, 131);}

.emoji{font-size: 80px;}
.emoji-button{background-color:#F3A712;font-size: 20px;font-weight: bold;}

.Dashboard button{background-color: #F3A712;}
.WindowResizer button{background-color: #F3A712;}
.Counter button{background-color: #F3A712;}
.HookClockDisplay button{background-color: #F3A712;}
.Login button{background-color: #F3A712;}
.OnlineChat button {background-color: #F3A712;}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  
}

input[type="text"] {
  border-radius: 15px;
  width: 250px;
  height: 50px;
  margin-bottom: 10px;
  text-align: right;

}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.calculator button {
  width: 60px;
  height: 60px;
  font-size: 22px;
  text-align: center;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.span-two {
  text-align: center;

}

.calculator button:hover {
  background-color: #ddd;
}

.calculator button:active {
  transform: translateY(2px);
}

.footer{
  font-size: -10px;
}

.theme{font-size: 25px;color: #06220f;padding: 20px;}
.theme-dark-button{background-color: #387BDF; color: #FAFAFF;}
.theme-light-button{background-color: #FAFAFF;color: #387BDF;}


