

body {
  background-image: url("/all_photos/faa528884b2afb0e85c5dcae8059e26f.jpg");
}

.navbar {
  font-size: 20px;
  font-family: "Kanit", sans-serif;
  color: rgb(60, 38, 9);
}
.navbar-brand {
  font-size: 70px;
  font-weight: bold;
  color: rgb(60, 38, 9);
}
.navbar-brand:hover {
  color: rgb(60, 38, 9);
  cursor: default;
}
.container-fluid {
  display: flex;
}
.nav-link {
  font-size: 30px;
  color: rgb(60, 38, 9);
}

.nav-item a {
  display: flex;
  margin: 20px;
  padding: 8px;
  text-decoration: none;
  color: beige;
}
.nav-link {
  font-weight: bold;
}

#movies {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  list-style: none;
  margin: 20px;
  padding: 0;
  font-family: "Kanit", sans-serif;
  color: rgb(60, 38, 9);
  font-weight: bold;
}
.card-img-top {
  height: 450px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.card {
  margin: 15px;
  border-radius: 20px;
  background-color: beige;
}

.card-text {
 
  text-align: justify;
  color: rgb(29, 18, 3);
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
  height: 75%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(245, 245, 220, 0.9);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(50px);
}
.card-text:hover {
  opacity: 1;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  transform: translateY(0);
}

.card-title {
  font-weight: bold;
  font-size: 20px;
}

.movie-date {
  text-align: end;
  text-align: bottom;
  justify-content: bottom;
}

.score {
  font-size: 25px;
  font-weight: bold;
}
