body {
  background-image: url("/all_photos/0aaba93a8bdffbe3379096f169d5cb42.jpg");
  background-repeat: repeat;
}
.back {
  position: sticky;
  top: 0;
  font-family: "Kanit", sans-serif;
  text-decoration: none;
  color: brown;
  font-weight: bold;
  
}
ul {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 1em;
  display: flex;
  flex-flow: column;
  align-items: center;
}
h1 {
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  color: brown;
}

